# PHPUnit specific files
.phpunit.result.cache
/phpunit.xml

# Composer dependencies
vendor/

# IDE specific files
.idea/

# ORIGINAL
back/
newback/
.DS_Store
**/.DS_Store
sheets_api_secret.json
docs/cache/
test.php
/seeding
webroot/custom.php
webroot/cred.php
webroot/settings.php
webroot/images/uploads/
webroot/other/newcron.txt
